@import url(root.css);

* {
    margin: 0;
    padding: 0;
}

.pagina_corpo {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

.pagina__cabecalho {
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container_principal {
    height: 100vh;
    
}
